html, body {
  margin: 0;
  font-family: 'Nunito', 'Helvetica', Arial, sans-serif;
  overflow-x: hidden;
}

:root {
  --blue: rgb(46, 58, 140);
  --green: rgb(59, 117, 95);
  --beige: rgb(242, 235, 219);
  --white: rgb(255, 255, 255);
  --black: rgb(33, 33, 33);
}
