$blue: rgb(46, 58, 140);
$green: rgb(59, 117, 95);
$beige: rgb(242, 235, 219);
$white: rgb(255, 255, 255);
$gray: rgb(175, 175, 175);
$silver-gray: rgb(142, 170, 190);
$black: rgb(33, 33, 33);
$black-transparent: rgba(33, 33, 33, .25);
$black-ultra-transparent: rgba(33, 33, 33, .075);
